body {
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
}

button {
    width: 150px;
    height: 75px;
    margin: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#button1 {
    left: calc(-50% - 160px);
}

#button2 {
    left: calc(-50% - 80px);
}

#button5 {
    left: calc(50% - 80px);
}

#button4 {
    left: calc(50% + 40px);
}

#button3 {
    left: calc(50% + 120px);
}

/* Füge hier weitere Stile und Informationen für deine Website hinzu */
